@include media-sm {
	main .social-icons {
		bottom: 2.5rem;
	}
	.home {
		padding-top: 20vh;
	}
	.contact {
		padding-top: 11vh;
		font-size: 1rem;
		&__list {
			font-size: 1rem;
		}
		h2 {
			font-size: 2.5rem;
		}
	}
	.fi {
		font-size: x-small;
	}
}

@include media-md {
	.contact {
		padding-top: 16vh;
		&__list {
			font-size: 1.1rem;
		}
	}
	main .social-icons {
		bottom: 1rem;
	}
	.menu-btn {
		visibility: hidden;
	}
	.nav {
		visibility: visible;

		.menu-nav {
			display: block;
			transform: translateY(0);
			height: 100%;
			background: transparent;
			text-align: right;

			&__item {
				display: inline;
				padding-right: 1.5rem;
			}

			&__link {
				font-size: 1.5rem;
			}
		}
	}
	.about__bio {
		font-size: 1.5rem;
	}
	.projects {
		&__bio-image {
			height: 40vh;
		}
		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
		.text-secondary {
			font-size: 3rem;
		}
	}
	.contact__list {
		grid-template-columns: repeat(2, 1fr);
	}
	.fi {
		font-size: 1rem;
	}
}

@include media-lg {
	main .social-icons {
		bottom: 1rem;
	}
	.projects {
		&__items {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	.contact__list {
		grid-template-columns: repeat(3, 1fr);
	}
	.fi {
		font-size: 1rem;
	}
}

@include media-xl {
	main .social-icons {
		bottom: 1rem;
	}
	.projects__bio-image {
		height: 50vh;
	}
	.fi {
		font-size: 1rem;
	}
}
